---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Försäkringsspecialisterna | Skadeärenden">
  <main>
    <h1>Skadeärenden</h1>

    <div class="link-card-grid">
      <Card
        title="Dina Nord"
        mail="sakskador.nord@dina.se"
        daytime="Dagtid, företag 0911-23 18 80|Dagtid, motor 0911-23 23 59"
        jourtime="Jourtid 0771-77 10 00"
        href="https://www.dina.se"
      />
      <Card
        title="Folksam"
        href="https://www.folksam.se"
        mail="foretagsskada@folksam.se|skada.foretagsmotor@folksam.se"
        daytime="Dagtid 0771-960 960"
        jourtime="Jourtid 020-45 00 00"
      />
      <Card
        title="Gjensidige"
        href="https://www.gjensidige.se"
        mail="skadorhjerta@gjensidige.se"
        daytime="Dagtid 08-555 018 64"
        jourtime="Jourtid 0771-326 328"
      />
      <Card
        title="If"
        href="https://www.if.se"
        mail="skadeservice@if.se"
        daytime="Dagtid 0771-815 818"
        jourtime="Jourtid 0771-815 818"
      />
      <Card
        title="Länsförsäkringar Stockholm"
        href="https://www.lansforsakringar.se"
        mail="info@sth.lansforsakringar.se"
        daytime="Dagtid 08-562 832 00"
        jourtime="Jourtid 020-59 00 00"
      />
      <Card
        title="Länsförsäkringar Västerbotten"
        href="https://www.lansforsakringar.se"
        mail="skador@LFvasterbotten.se"
        daytime="Dagtid 090-10 90 00"
        jourtime="Jourtid 020-59 00 00"
      />
      <Card
        title="Moderna Försäkringar"
        href="https://www.modernaforsakringar.se"
        mail="foretagsskador@modernaforsakringar.se|skador-foretagsmotor@modernaforsakringar.se"
        daytime="Dagtid 0200-21 21 20"
        jourtime="Jourtid 0200-21 21 20"
      />
      <Card
        title="Trygg Hansa"
        href="https://www.trygghansa.se"
        mail="ftgskador@trygghansa.se"
        daytime="Dagtid 077-11 11 500"
        jourtime="Jourtid 077-11 11 500"
      />
      <Card
        title="Ålands Ömsesidiga"
        href="https://www.omsen.ax"
        mail=""
        daytime="Dagtid +358-182 76 00"
        jourtime="Jourtid +358-182 76 01"
      />
    </div>
    <div class="centered">
      Vid fordonsskada, <a class="downloadLink" download="Fordonsskada.pdf"
        >klicka här (pdf)</a
      >
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 120ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-weight: 500;
  }

  .divider {
    width: 60ch;
    margin-bottom: 3vh;
  }

  .centered {
    margin-top: 3vh;
    margin-bottom: 6vh;
    text-align: center;
  }

  .downloadLink {
    color: #1e73be;
  }

  .downloadLink:hover {
    cursor: pointer;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }

    .divider {
      width: 30ch;
      margin-bottom: 3vh;
    }
  }
  @media screen and (max-width: 450px) {
    .link-card-grid {
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }
  }
</style>
