---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Försäkringsspecialisterna | Kontakt">
  <main>
    <h1>Kontakta oss</h1>
    <hr />
    <p>
      Kabelvägen 18 D<br />901 33 Umeå<br />kontoret@fsmail.se<br />Telefon
      Växel: 090-17 18 50
    </p>

    <p>
      Nicklas Kadeby<br />Telefon: 090-17 18 52<br />Mail: nicklas@fsmail.se
    </p>

    <h3>Klagomålshantering hos Försäkringsspecialisterna AB</h3>
    <hr />
    <p>
      Försäkringsspecialisterna har en målsättning att du som kund skall vara
      nöjd med våra tjänster och rådgivningar. Ifall det trots allt inträffar
      att vi gjort fel eller att ni som kund inte är nöjd, har ni möjlighet att
      vända er till vår klagomålsansvarige. Om ni har synpunkter på vårt arbete
      vill vi att ni skriftligen, via mail eller brev, kontaktar oss på
      nedanstående adress. Försök att så konkret och detaljerat som möjligt
      beskriva ärendet. Vår målsättning är att återkoppla och bemöta era
      synpunkter snarast möjligt.<br /><br />Klagomålsansvarig: Nicklas Kadeby<br
      />Telefon: 090-17 18 52<br />E-mail: nicklas@fsmail.se<br />Adress:
      Försäkringsspecialisterna AB<br />Kabelvägen 18 D<br />901 33 Umeå
    </p>
    <br />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  h3 {
    text-align: center;
    font-weight: 400;
  }
  p {
    color: #444444;
  }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }
  }
</style>
