---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Försäkringsspecialisterna | Hem">
  <main class="h-screen">
    <div class="generalInfo pt-12 pb-24">
      <img class="absolute right-7 z-0" src="cityview-umea.png" />
      <h1 class="font-light text-black text-6xl p-3 mb-3">Försäkringsspecialisterna</h1>
      <ul class="pl-16 leading-relaxed list-disc insurances">
        <li>Företagsförsäkringar</li>
        <li>Transportförsäkringar</li>
        <li>Kreditförsäkringar</li>
        <li>Tjänstepensioner</li>
        <li>Utländska försäkringar</li>
        <li>Kapitalplaceringar</li>
        <li>Sjukförsäkringar</li>
        <li>Sjuk/Olycksfallsförsäkringar för barn och ungdom</li>
        <li>Privata pensionsförsäkringar</li>
      </ul>

    </div>

    <div class="partners ">
      <!--
				Partners
			 -->
      <h3>Våra samarbetspartners</h3>

      <div class="partnersWrapper">
        <div id="partnersList">
          <img class="companyPicture" src="company_pictures/åland.jpg" />
          <img class="companyPicture" src="company_pictures/alandia.jpg" />
          <img class="companyPicture" src="company_pictures/chartis.jpg" />
          <img class="companyPicture" src="company_pictures/chubb.jpg" />
          <img
            class="companyPicture"
            src="company_pictures/dinaförsäkringar.jpg"
          />
          <img class="companyPicture" src="company_pictures/erv.jpg" />
          <img class="companyPicture" src="company_pictures/euro.jpg" />
          <img class="companyPicture" src="company_pictures/folksam.jpg" />
          <img class="companyPicture" src="company_pictures/gjen.jpg" />
          <img class="companyPicture" src="company_pictures/gouda.jpg" />
          <img class="companyPicture" src="company_pictures/if.jpg" />
          <img
            class="companyPicture"
            src="company_pictures/länsförsäkringar.jpg"
          />
          <img class="companyPicture" src="company_pictures/moderna.jpg" />
          <img class="companyPicture" src="company_pictures/movestic.jpg" />
          <img class="companyPicture" src="company_pictures/npg.jpg" />
          <img class="companyPicture" src="company_pictures/salu.jpg" />
          <img class="companyPicture" src="company_pictures/seb.jpg" />
          <img class="companyPicture" src="company_pictures/skandia.jpg" />
          <img class="companyPicture" src="company_pictures/svedea.jpg" />
          <img class="companyPicture" src="company_pictures/trygghansa.jpg" />
          <img class="companyPicture" src="company_pictures/zurich.jpg" />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partners {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .generalInfo {
    margin-bottom: 10vh;
    width: 80%;
  }

  .insurances {
    color: hsl(0 0% 40%);
  }

  .list {
    list-style-type: circle;
    color: #444444;
    padding: 0;
  }

  .list > li {
    padding: 0.2vh;
  }
  @media screen and (min-width: 993px) {
    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin: 0;
    }
    .umeaPicture {
      z-index: -1;
      position: absolute;
      max-width: 40rem;
      opacity: 30%;
      left: 5vh;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .companyPicture {
      max-width: 10rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin: 3vh;
    }
    #partnersList {
      list-style: none;
      display: flex;
      gap: 0.5vh;
      margin-bottom: 1vh;
    }

    .partnersWrapper {
      max-width: 60%;
      overflow-x: scroll;
      white-space: nowrap;
    }
    hr {
      width: 70ch;
    }
  }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }

    hr {
      width: 30ch;
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin: 3vh;
    }

    .umeaPicture {
      display: none;
    }

    .companyPicture {
      max-width: 100%;
    }
    #partnersList {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
      gap: 1rem;
    }

    .partnersWrapper {
      display: block;
      width: 100%;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 3vh;
      margin-bottom: 3vh;
    }
  }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;
    }
  }
</style>
