---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Försäkringsspecialisterna | Hem">
  <main>
    <div class="generalInfo">
      <img class="umeaPicture" src="cityview-umea.png" />
      <h1>Försäkringsspecialisterna</h1>
      <ul class="list">
        <li>Företagsförsäkringar</li>
        <li>Transportförsäkringar</li>
        <li>Kreditförsäkringar</li>
        <li>Tjänstepensioner</li>
        <li>Utländska försäkringar</li>
        <li>Kapitalplaceringar</li>
        <li>Sjukförsäkringar</li>
        <li>Sjuk/Olycksfallsförsäkringar för barn och ungdom</li>
        <li>Privata pensionsförsäkringar</li>
      </ul>
    </div>
    <div class="partners">
      <!--
				Partners
			 -->
      <hr />
      <h3>Samarbetspartners</h3>

      <!--
				Interactive list of partners
			 -->
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  hr {
    width: 70ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .umeaPicture {
    z-index: -1;
    position: absolute;
    max-width: 40rem;
    opacity: 30%;
    left: 5vh;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .generalInfo {
    margin-bottom: 10vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .list {
    list-style-type: none;
    color: #666666;
    padding: 0;
  }

  .list > li {
    padding: 0.2vh;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
