---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Claims from "./claims.astro";
import Contact from "./contact.astro";
import Services from "./services.astro";
import Home from "./home.astro";
---

<Layout title="Försäkringsspecialisterna">
  <Header />

  <Home />

  <div class="p-4" id="servicesSection"></div>
  <Services />

  <div class="p-4" id="claimsSection"></div>
  <Claims />

  <div class="p-4" id="contactSection"></div>
  <Contact />

  <Footer />
</Layout>
