---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Försäkringsspecialisterna | Hem">
  <main>
    <div class="generalInfo">
      <img class="umeaPicture" src="cityview-umea.png" />
      <h1>Försäkringsspecialisterna</h1>
      <ul class="list">
        <li>Företagsförsäkringar</li>
        <li>Transportförsäkringar</li>
        <li>Kreditförsäkringar</li>
        <li>Tjänstepensioner</li>
        <li>Utländska försäkringar</li>
        <li>Kapitalplaceringar</li>
        <li>Sjukförsäkringar</li>
        <li>Sjuk/Olycksfallsförsäkringar för barn och ungdom</li>
        <li>Privata pensionsförsäkringar</li>
      </ul>
    </div>
    <div class="partners">
      <!--
				Partners
			 -->
      <hr />
      <h3>Samarbetspartners</h3>

      <div class="partnersWrapper">
        <div id="partnersList">
          <div>
            <img class="companyPicture" src="company_pictures/åland.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/alandia.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/chartis.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/chubb.jpg" />
          </div>
          <div>
            <img
              class="companyPicture"
              src="company_pictures/dinaförsäkringar.jpg"
            />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/erv.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/euro.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/folksam.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/gjen.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/gouda.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/if.jpg" />
          </div>
          <div>
            <img
              class="companyPicture"
              src="company_pictures/länsförsäkringar.jpg"
            />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/moderna.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/movestic.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/npg.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/seb.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/skandia.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/svedea.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/trygghansa.jpg" />
          </div>
          <div>
            <img class="companyPicture" src="company_pictures/zurich.jpg" />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  hr {
    width: 70ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 3vh;
  }

  #partnersList {
    list-style: none;
    display: flex;
    column-gap: 0.5vh;
  }

  .partnersWrapper {
    max-width: 25%;
    overflow: auto;
    white-space: nowrap;
  }

  .companyPicture {
    width: 10rem;
  }

  .partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .umeaPicture {
    z-index: -1;
    position: absolute;
    max-width: 40rem;
    opacity: 30%;
    left: 5vh;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .generalInfo {
    margin-bottom: 10vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .list {
    list-style-type: none;
    color: #444444;
    padding: 0;
  }

  .list > li {
    padding: 0.2vh;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
