---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Försäkringsspecialisterna | Våra Tjänster">
  <main id="servicesSection">
    <div class="generalInfo">
      <!-- <img class="umeaPicture" src="umea-and-heart.png" /> -->
      <h1>Våra Tjänster</h1>
    </div>

    <hr />

    <p>
      Försäkringsspecialisterna är inte knutna till något försäkringsbolag eller
      bank utan arbetar helt för er som kund och enligt er vilja och ert behov.
      Vi har därför hela marknadens utbud av försäkringslösningar att tillgå.
      Att verka som försäkringsförmedlare innebär att vi jämför
      försäkringsbolagens produkter för att du som kund skall få tillgång till
      bästa möjliga villkor. Vår utmaning är att ta fram en så heltäckande
      försäkringslösning som möjligt för ert företags verksamhet. Vi förmedlar
      försäkringar inom:
    </p>

    <ul>
      <li>Sakförsäkring</li>
      <li>Företag, Fastighet, Fordon mm</li>
      <li>Gruppförsäkring</li>
      <li>Olycksfall, Sjukvård mm</li>
      <li>Pensionsförsäkring</li>
      <li>Privat, Tjänste</li>
      <li>Kapitalförsäkring</li>
    </ul>

    <p>Vi kan erbjuda er de bästa alternativen!</p>

    <br />

    <h2>Arvode</h2>
    <hr />
    <p>
      Arvodet för vår tjänst är inget tillägg utan tas ur försäkringspremien.
      Detta regleras sedan mellan oss och försäkringsbolagen, ingen faktura. Vi
      som försäkringsförmedlare företräder er genom fullmakt. Fullmakten kan när
      som helst återkallas av någon av parterna. Vid återkallande av fullmakt
      övertar försäkringsbolaget säljansvaret vilket innebär att tidigare
      förmedlararvode läggs till i försäkringspremien.
    </p>
    <br />

    <h2>Försäkringar</h2>
    <hr />
    <p>
      Som medlem i försäkringsförmedlarorganisationen Hjerta kan vi dessutom
      erbjuda försäkringslösningar som upphandlats genom Hjerta.
    </p>

    <p>Försäkringar med marknadens bästa omfattning.</p>

    <ul>
      <li>Fordonsförsäkring</li>
      <li>Sjukvårdsförsäkring</li>
      <li>Tjänstereseförsäkring</li>
      <li>VD/styrelseförsäkring</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    margin-bottom: 3vh;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-weight: 400;
  }

  p {
    color: #555555;
  }

  li {
    color: #444444;
  }
  .umeaPicture {
    z-index: -1;
    position: absolute;
    max-width: 40rem;
    opacity: 20%;
    left: 0vh;
    right: 0vh;
    margin-left: 5vh;
    margin-right: auto;
  }
  @media screen and (max-width: 992px) {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }
  }
</style>
