---
---

<div class="footer p-3">
  <p>© Försäkringsspecialisterna 2022</p>
</div>
<style>
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: black solid 1px;
    background-color: #1e73be;
  }
  .footer > p {
    font-size: small;
    margin-left: 1rem;
    color: white;
    text-shadow: #333333 1px 1px 1px;
  }
</style>
