---
---

<div
  class="header p-2 top-0 sticky flex flex-row justify-center bg-white bg-opacity-90"
>
  <a href="/"><img class="max-w-12 max-h-12" src="Logga-med-skugga.jpg" /></a>
  <div class="spacer"></div>
  <ul class="navButtonsList" id="navMenu">
    <li><a class="navLink myPageLink" id="home">Hem</a></li>
    <li>
      <a class="navLink myPageLink" id="services">Våra Tjänster</a>
    </li>
    <li>
      <a class="navLink myPageLink" id="claims">Skadeärenden</a>
    </li>
    <li>
      <a class="navLink myPageLink" id="contact">Kontakt</a>
    </li>
    <li>
      <a
        class="navLink"
        href="https://system.webcap.se/login.aspx?type=customer">Kundlogin</a
      >
    </li>
  </ul>
  <button class="menu">
    <i class="fa fa-bars"></i>
  </button>
</div>

<script>
  const aTop = document.getElementById("home");
  if (aTop) {
    aTop.addEventListener("click", () => {
      const options: ScrollToOptions = {
        top: 0,
        left: 0,
        behavior: "smooth",
      };
      scrollTo(options);
    });
  }

  const aServices = document.getElementById("services");
  if (aServices) {
    aServices.addEventListener("click", () => {
      const contactSection = document.getElementById("servicesSection");
      if (contactSection) {
        const options: ScrollIntoViewOptions = { behavior: "smooth" };
        contactSection.scrollIntoView(options);
      }
    });
  }

  const aClaims = document.getElementById("claims");
  if (aClaims) {
    aClaims.addEventListener("click", () => {
      const contactSection = document.getElementById("claimsSection");
      if (contactSection) {
        const options: ScrollIntoViewOptions = { behavior: "smooth" };
        contactSection.scrollIntoView(options);
      }
    });
  }

  const aContact = document.getElementById("contact");
  if (aContact) {
    aContact.addEventListener("click", () => {
      const contactSection = document.getElementById("contactSection");
      if (contactSection) {
        const options: ScrollIntoViewOptions = { behavior: "smooth" };
        contactSection.scrollIntoView(options);
      }
    });
  }

  // Find menu button
  const button = document.querySelector("button.menu");

  // Display mobile navigation menu on click
  if (button) {
    button.addEventListener("click", () => {
      var x = document.getElementById("navMenu");
      if (x) {
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    });
  }
</script>

<style>
  ul {
    padding-inline-start: 0;
  }

  li {
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .spacer {
    width: 5vh;
    margin-left: 15vh;
  }

  @media screen and (min-width: 993px) {
    .navButtonsList {
      list-style-type: none;
      display: flex;
    }

    .navLink {
      color: #333333;
      text-decoration: none;
      padding: 0.5vh;
    }

    .navLink:hover {
      border-top: 2px solid #1e73be;
      color: #1e73be;
    }
  }
  @media screen and (max-width: 992px) {
    .header {
      background-color: white;
      position: relative;
      height: auto;
      flex-direction: column;
      justify-content: start;
    }
    .menu {
      background: white;
      color: #1e73be;
      border: none;
      height: 3rem;
      width: 4rem;
      font-size: 17px;
      display: block;
      position: absolute;
      right: 0;
      top: 0.2vh;
    }
    .navButtonsList {
      list-style-type: none;
      display: none;
      width: 100%;
      border-top: 2px solid #1e73be;
    }

    .navLink {
      color: #333333;
      width: auto;
      text-decoration: none;
      padding: 1vh;
      font-size: 17px;
      display: block;
    }

    .navLink:hover {
      border-top: none;
      color: #1e73be;
      background-color: #ddd;
    }
  }
</style>
