---
---

<div class="header">
  <a href="/"><img class="logoPicture" src="Logga-med-skugga.jpg" /></a>
  <div class="spacer"></div>
  <ul class="navButtonsList">
    <li><a class="navLink" href="/">Hem</a></li>
    <li><a class="navLink" href="/services">Våra Tjänster</a></li>
    <li><a class="navLink" href="/claims">Skadeärenden</a></li>
    <li><a class="navLink" href="/contact">Kontakt</a></li>
    <li>
      <a
        class="navLink"
        href="https://system.webcap.se/login.aspx?type=customer">Kundlogin</a
      >
    </li>
  </ul>
</div>

<style>
  ul {
    padding-inline-start: 0;
  }

  .header {
    background-color: white;
    height: 3rem;
    display: flex;
    justify-content: center;
  }

  .logoPicture {
    margin-left: 1vh;
    width: 18rem;
  }

  .navButtonsList {
    list-style-type: none;
    display: flex;
  }

  .navLink {
    color: #333333;
    text-decoration: none;
    padding: 0.5vh;
  }

  .navLink:hover {
    border-top: 2px solid #1e73be;
    color: #1e73be;
  }

  .spacer {
    width: 5vh;
    margin-left: 15vh;
  }
</style>
